.grid {
    padding: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
}

.grid div {
    border: 3px outset #87cefa;
    height: 34px;
    width: 34px;
    text-align: center;
    
}

.checked {
    background-color: hsl(195, 53%, 70%);
    border: 3px double hsl(195, 53%, 50%) !important;
    border-style: solid !important;
}

[data="1"] {
    color: crimson !important;
}
[data="2"] {
    color:  green !important;
}
[data="3"] {
    color: blue !important;
}
[data="4"] {
    color: purple !important;
}


.bomb {
    background-color: orange;
}
